* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #5e5e5e;
}

.wrapper {
  height: 600px;
  width: 600px;
  position: absolute;
  border-radius: 100%;
  background: #5e5e5e;
  box-shadow: 20px -20px 60px #505050, -20px 20px 60px #6c6c6c;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.game {
  height: 500px;
  width: 500px;
  background-color: #0f0f0f;
  border-radius: 100%;
  border: 1px solid #a1a1a1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.colors {
  height: 210px;
  width: 210px;
  position: absolute;
  cursor: pointer;
}

.color1 {
  background-color: #005f00;
  border: 1px solid #00ff00;
  border-radius: 100% 0 0 0;
  top: 30px;
  left: 30px;
}

.color2 {
  background-color: #5f0000;
  border: 1px solid #ff0000;
  border-radius: 0 100% 0 0;
  top: 30px;
  right: 30px;
}

.color3 {
  background-color: #00115f;
  border: 1px solid #0000ff;
  border-radius: 0 0 100% 0;
  bottom: 30px;
  right: 30px;
}

.color4 {
  background-color: #5f5e00;
  border: 1px solid #ffff00;
  border-radius: 0 0 0 100%;
  bottom: 30px;
  left: 30px;
}

.game:before {
  position: absolute;
  content: '';
  z-index: 1;
  background-color: #0f0f0f;
  width: 240px;
  height: 240px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 1px solid #ffffff;
  box-shadow: 0 0 0.5rem #5e5e5e;
}

#score {
  background-color: antiquewhite;
  font-size: 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #0f0f0f;
  color: #f5f5f5;
  border: 1px solid #a1a1a1;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100px;
  height: 80px;
  display: grid;
  place-items: center;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.hidde {
  display: none;
}

.container button {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
}

.container p {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.container span {
  font-weight: 600;
}
